In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# .CSV data
traffic_csv_path = fetch_data_from_URL("https://data.montgomerycountymd.gov/api/views/4mse-ku6q/rows.csv?accessType=DOWNLOAD",
                    "traffic_violations.csv", sub_dir="traffic")

In [4]:
# read entire file into a dataframe
df = pd.read_csv(traffic_csv_path)

# summmary of dataframe
print(df.info())

/home/jack/anaconda3/envs/tf_edge/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251972 entries, 0 to 1251971
Data columns (total 35 columns):
Date Of Stop               1251972 non-null object
Time Of Stop               1251972 non-null object
Agency                     1251972 non-null object
SubAgency                  1251962 non-null object
Description                1251963 non-null object
Location                   1251970 non-null object
Latitude                   1158178 non-null float64
Longitude                  1158178 non-null float64
Accident                   1251972 non-null object
Belts                      1251972 non-null object
Personal Injury            1251972 non-null object
Property Damage            1251972 non-null object
Fatal                      1251972 non-null object
Commercial License         1251972 non-null object
HAZMAT                     1251972 non-null object
Commercial Vehicle         1251972 non-null object
Alcohol                    1251972 non-null object
Work Zone                  1251972 non-null object
State                      1251913 non-null object
VehicleType                1251972 non-null object
Year                       1244022 non-null float64
Make                       1251915 non-null object
Model                      1251786 non-null object
Color                      1236136 non-null object
Violation Type             1251972 non-null object
Charge                     1251972 non-null object
Article                    1188862 non-null object
Contributed To Accident    1251972 non-null object
Race                       1251972 non-null object
Gender                     1251972 non-null object
Driver City                1251768 non-null object
Driver State               1251961 non-null object
DL State                   1251043 non-null object
Arrest Type                1251972 non-null object
Geolocation                1158178 non-null object
dtypes: float64(3), object(32)
memory usage: 334.3+ MB
None

In [6]:
print(df["Date Of Stop"].head(20))

0     09/24/2013
1     08/29/2017
2     12/01/2014
3     08/29/2017
4     08/28/2017
5     08/27/2013
6     10/08/2013
7     04/24/2015
8     08/28/2017
9     08/28/2017
10    02/14/2014
11    03/19/2012
12    06/09/2012
13    12/20/2012
14    07/20/2012
15    09/11/2012
16    07/23/2013
17    10/28/2013
18    08/28/2017
19    12/17/2015
Name: Date Of Stop, dtype: object

## duplicated()

In [7]:
# keep='first' by default (mark first encounter as false, rest=True)
# can also use keep='last'
# can also use keep='False', will remove _all_ that are duplicates
df["Date Of Stop"].duplicated().head(20)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: Date Of Stop, dtype: bool

In [13]:
# what if we ant all unique
# Dates that only occur once
mask = ~df["Date Of Stop"].duplicated(keep=False) # negated
print(df[mask].head()) # none, in this case

Empty DataFrame
Columns: [Date Of Stop, Time Of Stop, Agency, SubAgency, Description, Location, Latitude, Longitude, Accident, Belts, Personal Injury, Property Damage, Fatal, Commercial License, HAZMAT, Commercial Vehicle, Alcohol, Work Zone, State, VehicleType, Year, Make, Model, Color, Violation Type, Charge, Article, Contributed To Accident, Race, Gender, Driver City, Driver State, DL State, Arrest Type, Geolocation]
Index: []

[0 rows x 35 columns]

## drop_duplicates()

Operates on the dataframe. Can use the `keep` and `subset` param. `inplace` also applies

In [15]:
# if a row is exactly the same
print(len(df))
print(len(df.drop_duplicates()))

1251972
1250420

In [ ]:
# df.drop_duplicates(subset=[""], keep)

## View duplicate Rows

In [25]:
mask = df.duplicated(keep=False)
print(df[mask].sort(["Description", "Time Of Stop"]).head(10))

        Date Of Stop Time Of Stop Agency                    SubAgency  \
441041    07/10/2016     02:16:00    MCP  3rd district, Silver Spring
441043    07/10/2016     02:16:00    MCP  3rd district, Silver Spring
117007    03/02/2014     00:01:00    MCP        4th district, Wheaton
1015543   03/02/2014     00:01:00    MCP        4th district, Wheaton
636634    10/21/2014     11:59:00    MCP     5th district, Germantown
636635    10/21/2014     11:59:00    MCP     5th district, Germantown
47150     09/29/2013     21:27:00    MCP     5th district, Germantown
47697     09/29/2013     21:27:00    MCP     5th district, Germantown
203696    11/02/2013     04:13:00    MCP        4th district, Wheaton
204278    11/02/2013     04:13:00    MCP        4th district, Wheaton

                                               Description  \
441041           ALLOWING UNREG. VEH. TO BE DRIVEN ON HWY.
441043           ALLOWING UNREG. VEH. TO BE DRIVEN ON HWY.
117007   ALLOWING VEH. TO BE DRIVEN ON HWY. WITH SUSPEN...
1015543  ALLOWING VEH. TO BE DRIVEN ON HWY. WITH SUSPEN...
636634   ALLOWING VEHICLE TO BE DRIVEN ON HWY. WITH UNP...
636635   ALLOWING VEHICLE TO BE DRIVEN ON HWY. WITH UNP...
47150    ALLOWING VEHICLE TO BE DRIVEN ON HWY. WITH UNP...
47697    ALLOWING VEHICLE TO BE DRIVEN ON HWY. WITH UNP...
203696   ATTEMPT BY DRIV TO ELUDE POLICE IN OFFCAL POLI...
204278   ATTEMPT BY DRIV TO ELUDE POLICE IN OFFCAL POLI...

                                   Location   Latitude  Longitude Accident  \
441041   NEW HAMPSHIRE AVE @ POWDER MILL RD  39.023210 -76.977902       No
441043   NEW HAMPSHIRE AVE @ POWDER MILL RD  39.023210 -76.977902       No
117007           E RANDOLPH RD/ FAIRLAND RD  39.076835 -76.990925       No
1015543          E RANDOLPH RD/ FAIRLAND RD  39.076835 -76.990925       No
636634           GERMANTOWN RD @ CLOPPER RD  39.166280 -77.281170       No
636635           GERMANTOWN RD @ CLOPPER RD  39.166280 -77.281170       No
47150       VALLEY PARK @ SHELLDRAKE CIRCLE        NaN        NaN       No
47697       VALLEY PARK @ SHELLDRAKE CIRCLE        NaN        NaN       No
203696       NEW HAMPSHIRE AVE @ NORWOOD RD  39.062942 -77.054518       No
204278       NEW HAMPSHIRE AVE @ NORWOOD RD  39.062942 -77.054518       No

        Belts                  ...                        Charge  \
441041     No                  ...                     13-401(c)
441043     No                  ...                     13-401(c)
117007     No                  ...                     13-401(i)
1015543    No                  ...                     13-401(i)
636634     No                  ...                     13-401(e)
636635     No                  ...                     13-401(e)
47150      No                  ...                     13-401(e)
47697      No                  ...                     13-401(e)
203696     No                  ...                    21-904(c3)
204278     No                  ...                    21-904(c3)

                        Article Contributed To Accident      Race Gender  \
441041   Transportation Article                      No     BLACK      M
441043   Transportation Article                      No     BLACK      M
117007   Transportation Article                      No     BLACK      M
1015543  Transportation Article                      No     BLACK      M
636634   Transportation Article                      No     BLACK      F
636635   Transportation Article                      No     BLACK      F
47150    Transportation Article                      No     WHITE      F
47697    Transportation Article                      No     WHITE      F
203696   Transportation Article                     Yes  HISPANIC      M
204278   Transportation Article                     Yes  HISPANIC      M

           Driver City Driver State DL State        Arrest Type  \
441041     BLADENSBURG           MD       MD  A - Marked Patrol
441043     BLADENSBURG           MD       MD  A - Marked Patrol
117007   SILVER SPRING           MD       MD  A - Marked Patrol
1015543  SILVER SPRING           MD       MD  A - Marked Patrol
636634    GAITHERSBURG           MD       MD  A - Marked Patrol
636635    GAITHERSBURG           MD       MD  A - Marked Patrol
47150     GAITHERSBURG           MD       MD  A - Marked Patrol
47697     GAITHERSBURG           MD       MD  A - Marked Patrol
203696           OLNEY           MD       MD  A - Marked Patrol
204278           OLNEY           MD       MD  A - Marked Patrol

                                   Geolocation
441041           (39.02321, -76.9779016666667)
441043           (39.02321, -76.9779016666667)
117007                 (39.076835, -76.990925)
1015543                (39.076835, -76.990925)
636634                   (39.16628, -77.28117)
636635                   (39.16628, -77.28117)
47150                                      NaN
47697                                      NaN
203696   (39.0629416666667, -77.0545183333333)
204278   (39.0629416666667, -77.0545183333333)

[10 rows x 35 columns]

/home/jack/anaconda3/envs/tf_edge/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)