In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# working with excel: `conda install -c anaconda xlrd`
fsa_xlsx_path = fetch_data_from_URL("https://ifap.ed.gov/fedschcodelist/attachments/1617FedSchoolCodeList.xlsx",
                    "1617FedSchoolCodeList.xlsx", sub_dir="FSA")

In [4]:
df = pd.read_excel(fsa_xlsx_path, index_col="StateCode")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6962 entries, DE to NV
Data columns (total 9 columns):
ID            6962 non-null int64
SchoolCode    6962 non-null object
SchoolName    6962 non-null object
Address       6962 non-null object
City          6962 non-null object
ZipCode       6962 non-null int64
Province      111 non-null object
Country       402 non-null object
PostalCode    229 non-null object
dtypes: int64(2), object(7)
memory usage: 543.9+ KB
None

In [5]:
print(df.head())

              ID SchoolCode                             SchoolName  \
StateCode
DE         25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
PR         25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
TN         25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
IL         25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
OR         25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                                 Address        City  ZipCode Province  \
StateCode
DE         4601 CONCORD PIKE/PO BOX 7474  WILMINGTON    19803      NaN
PR                            BOX S-4467    SAN JUAN      902      NaN
TN                           PO BOX 3330   CLEVELAND    37320      NaN
IL                325 NORTH WELLS STREET     CHICAGO    60610      NaN
OR                         049 SW PORTER    PORTLAND    97201      NaN

          Country PostalCode
StateCode
DE            NaN        NaN
PR            NaN        NaN
TN            NaN        NaN
IL            NaN        NaN
OR            NaN        NaN

In [6]:
# print(df[0]) will not work here
# iloc will return the row for the given index position
print(df.iloc[0])

ID                                      25969
SchoolCode                             B04724
SchoolName    WIDENER UNIV SCHOOL OF LAW - DE
Address         4601 CONCORD PIKE/PO BOX 7474
City                               WILMINGTON
ZipCode                                 19803
Province                                  NaN
Country                                   NaN
PostalCode                                NaN
Name: DE, dtype: object

In [7]:
print(df.iloc[[1, 6]])

              ID SchoolCode                           SchoolName  \
StateCode
PR         25970     B06171  CENTER FOR ADVANCED STUDIES OF PUER
MN         25975     B08041         ALFRED ADLER GRADUATE SCHOOL

                                  Address      City  ZipCode Province Country  \
StateCode
PR                             BOX S-4467  SAN JUAN      902      NaN     NaN
MN         1001 WEST HIGHWAY 7  SUITE 344   HOPKINS    55305      NaN     NaN

          PostalCode
StateCode
PR               NaN
MN               NaN

In [8]:
print(df.iloc[1:3])

              ID SchoolCode                           SchoolName      Address  \
StateCode
PR         25970     B06171  CENTER FOR ADVANCED STUDIES OF PUER   BOX S-4467
TN         25971     B06511     PENTECOSTAL THEOLOGICAL SEMINARY  PO BOX 3330

                City  ZipCode Province Country PostalCode
StateCode
PR          SAN JUAN      902      NaN     NaN        NaN
TN         CLEVELAND    37320      NaN     NaN        NaN

## Second Argument

In [9]:
print(df.iloc[1, [1,3]])

SchoolCode        B06171
Address       BOX S-4467
Name: PR, dtype: object