In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# .CSV data
traffic_csv_path = fetch_data_from_URL("https://data.montgomerycountymd.gov/api/views/4mse-ku6q/rows.csv?accessType=DOWNLOAD",
                    "traffic_violations.csv", sub_dir="traffic")

In [4]:
# read entire file into a dataframe
t_df = pd.read_csv(traffic_csv_path)

# summmary of dataframe
print(t_df.info())

/home/jack/anaconda3/envs/tf_edge/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251972 entries, 0 to 1251971
Data columns (total 35 columns):
Date Of Stop               1251972 non-null object
Time Of Stop               1251972 non-null object
Agency                     1251972 non-null object
SubAgency                  1251962 non-null object
Description                1251963 non-null object
Location                   1251970 non-null object
Latitude                   1158178 non-null float64
Longitude                  1158178 non-null float64
Accident                   1251972 non-null object
Belts                      1251972 non-null object
Personal Injury            1251972 non-null object
Property Damage            1251972 non-null object
Fatal                      1251972 non-null object
Commercial License         1251972 non-null object
HAZMAT                     1251972 non-null object
Commercial Vehicle         1251972 non-null object
Alcohol                    1251972 non-null object
Work Zone                  1251972 non-null object
State                      1251913 non-null object
VehicleType                1251972 non-null object
Year                       1244022 non-null float64
Make                       1251915 non-null object
Model                      1251786 non-null object
Color                      1236136 non-null object
Violation Type             1251972 non-null object
Charge                     1251972 non-null object
Article                    1188862 non-null object
Contributed To Accident    1251972 non-null object
Race                       1251972 non-null object
Gender                     1251972 non-null object
Driver City                1251768 non-null object
Driver State               1251961 non-null object
DL State                   1251043 non-null object
Arrest Type                1251972 non-null object
Geolocation                1158178 non-null object
dtypes: float64(3), object(32)
memory usage: 334.3+ MB
None

## Viewing Index (labels) and values

In [5]:
print(t_df.index)

RangeIndex(start=0, stop=1251972, step=1)

In [6]:
print(t_df.values)

[['09/24/2013' '17:11:00' 'MCP' ..., 'MD' 'A - Marked Patrol' nan]
 ['08/29/2017' '10:19:00' 'MCP' ..., 'VA' 'A - Marked Patrol'
  '(38.981725, -77.0927566666667)']
 ['12/01/2014' '12:52:00' 'MCP' ..., 'MD' 'A - Marked Patrol'
  '(39.1628883333333, -77.2290883333333)']
 ...,
 ['12/15/2012' '00:30:00' 'MCP' ..., 'MD' 'A - Marked Patrol'
  '(39.1527700833333, -77.2202923833333)']
 ['12/16/2012' '22:55:00' 'MCP' ..., 'MD' 'A - Marked Patrol'
  '(39.0800610666667, -77.0743472)']
 ['12/21/2012' '23:47:00' 'MCP' ..., 'MD' 'A - Marked Patrol'
  '(39.0171391166667, -77.0063790833333)']]

In [7]:
# rows x columnds
print(t_df.shape)

(1251972, 35)

In [8]:
# The type of each column
print(t_df.dtypes)

Date Of Stop                object
Time Of Stop                object
Agency                      object
SubAgency                   object
Description                 object
Location                    object
Latitude                   float64
Longitude                  float64
Accident                    object
Belts                       object
Personal Injury             object
Property Damage             object
Fatal                       object
Commercial License          object
HAZMAT                      object
Commercial Vehicle          object
Alcohol                     object
Work Zone                   object
State                       object
VehicleType                 object
Year                       float64
Make                        object
Model                       object
Color                       object
Violation Type              object
Charge                      object
Article                     object
Contributed To Accident     object
Race                        object
Gender                      object
Driver City                 object
Driver State                object
DL State                    object
Arrest Type                 object
Geolocation                 object
dtype: object

In [9]:
# the column names
print(t_df.columns)

Index(['Date Of Stop', 'Time Of Stop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'Personal Injury', 'Property Damage', 'Fatal', 'Commercial License',
       'HAZMAT', 'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Contributed To Accident', 'Race', 'Gender',
       'Driver City', 'Driver State', 'DL State', 'Arrest Type',
       'Geolocation'],
      dtype='object')

In [10]:
# [rows, columns]
print(t_df.axes)

[RangeIndex(start=0, stop=1251972, step=1), Index(['Date Of Stop', 'Time Of Stop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'Personal Injury', 'Property Damage', 'Fatal', 'Commercial License',
       'HAZMAT', 'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Contributed To Accident', 'Race', 'Gender',
       'Driver City', 'Driver State', 'DL State', 'Arrest Type',
       'Geolocation'],
      dtype='object')]

In [11]:
# counts of each datatype
print(t_df.get_dtype_counts())

float64     3
object     32
dtype: int64