In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# .CSV data
la_csv_path = fetch_data_from_URL("https://data.lacity.org/api/views/nxs9-385f/rows.csv?accessType=DOWNLOAD",
                    "2010.csv", sub_dir="la_cencus")

In [4]:
# read entire file into a dataframe
df = pd.read_csv(la_csv_path)

# summmary of dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
Zip Code                  319 non-null int64
Total Population          319 non-null int64
Median Age                319 non-null float64
Total Males               319 non-null int64
Total Females             319 non-null int64
Total Households          319 non-null int64
Average Household Size    319 non-null float64
dtypes: float64(2), int64(5)
memory usage: 17.5 KB
None

In [5]:
df.sort_values("Median Age", ascending=False).head(3)

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
180,91046,156,74.0,51,105,114,1.37
0,91371,1,73.5,0,1,1,1.00
58,90067,2424,65.3,1074,1350,1510,1.61

In [6]:
df.nlargest(3, columns="Median Age")
# equivalent = df["Median Age"].nlargest(3)

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
180,91046,156,74.0,51,105,114,1.37
0,91371,1,73.5,0,1,1,1.00
58,90067,2424,65.3,1074,1350,1510,1.61

In [7]:
mask = df["Median Age"] != 0
df[mask].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 318
Data columns (total 7 columns):
Zip Code                  313 non-null int64
Total Population          313 non-null int64
Median Age                313 non-null float64
Total Males               313 non-null int64
Total Females             313 non-null int64
Total Households          313 non-null int64
Average Household Size    313 non-null float64
dtypes: float64(2), int64(5)
memory usage: 19.6 KB

In [8]:
df[mask].nsmallest(3, columns="Median Age")

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
65,90089,3217,19.3,1436,1781,31,1.94
210,91330,2702,19.6,1103,1599,2,2.50
90,90263,1612,19.7,665,947,0,0.00