In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# working with excel: `conda install -c anaconda xlrd`
fsa_xlsx_path = fetch_data_from_URL("https://ifap.ed.gov/fedschcodelist/attachments/1617FedSchoolCodeList.xlsx",
                    "1617FedSchoolCodeList.xlsx", sub_dir="FSA")

In [4]:
df = pd.read_excel(fsa_xlsx_path, index_col="ID")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6962 entries, 25969 to 32930
Data columns (total 9 columns):
SchoolCode    6962 non-null object
SchoolName    6962 non-null object
Address       6962 non-null object
City          6962 non-null object
StateCode     6962 non-null object
ZipCode       6962 non-null int64
Province      111 non-null object
Country       402 non-null object
PostalCode    229 non-null object
dtypes: int64(1), object(8)
memory usage: 543.9+ KB
None

In [5]:
print(df.head())

      SchoolCode                             SchoolName  \
ID
25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                             Address        City StateCode  ZipCode Province  \
ID
25969  4601 CONCORD PIKE/PO BOX 7474  WILMINGTON        DE    19803      NaN
25970                     BOX S-4467    SAN JUAN        PR      902      NaN
25971                    PO BOX 3330   CLEVELAND        TN    37320      NaN
25972         325 NORTH WELLS STREET     CHICAGO        IL    60610      NaN
25973                  049 SW PORTER    PORTLAND        OR    97201      NaN

      Country PostalCode
ID
25969     NaN        NaN
25970     NaN        NaN
25971     NaN        NaN
25972     NaN        NaN
25973     NaN        NaN

In [6]:
# print(df[0]) will not work here
print(df.loc[25969])

SchoolCode                             B04724
SchoolName    WIDENER UNIV SCHOOL OF LAW - DE
Address         4601 CONCORD PIKE/PO BOX 7474
City                               WILMINGTON
StateCode                                  DE
ZipCode                                 19803
Province                                  NaN
Country                                   NaN
PostalCode                                NaN
Name: 25969, dtype: object

If we have multiple rows with the same index, pandas will return all rows that match the query. Example:

In [7]:
tmp_df = df.reset_index() # keep the `ID` col
tmp_df = tmp_df.set_index("StateCode")
print(tmp_df.head())

              ID SchoolCode                             SchoolName  \
StateCode
DE         25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
PR         25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
TN         25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
IL         25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
OR         25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                                 Address        City  ZipCode Province  \
StateCode
DE         4601 CONCORD PIKE/PO BOX 7474  WILMINGTON    19803      NaN
PR                            BOX S-4467    SAN JUAN      902      NaN
TN                           PO BOX 3330   CLEVELAND    37320      NaN
IL                325 NORTH WELLS STREET     CHICAGO    60610      NaN
OR                         049 SW PORTER    PORTLAND    97201      NaN

          Country PostalCode
StateCode
DE            NaN        NaN
PR            NaN        NaN
TN            NaN        NaN
IL            NaN        NaN
OR            NaN        NaN

In [8]:
print(tmp_df.loc['DE'])

              ID SchoolCode                                SchoolName  \
StateCode
DE         25969     B04724           WIDENER UNIV SCHOOL OF LAW - DE
DE         26206     E01080                STAR TECHNICAL INSTITUTE -
DE         27484     001428                 DELAWARE STATE UNIVERSITY
DE         27485     001429                     GOLDEY BEACOM COLLEGE
DE         27486     001431                    UNIVERSITY OF DELAWARE
DE         27487     001433                            WESLEY COLLEGE
DE         29676     007948                     WILMINGTON UNIVERSITY
DE         30139     011727      DELAWARE TECHNICAL COMMUNITY COLLEGE
DE         30756     015477        SCHILLING DOUGLAS SCH OF HAIR DSGN
DE         31263     021252    SCHOOL OF NURSING BEEBE MEDICAL CENTER
DE         31427     030258                      DAWN TRAINING CENTRE
DE         31843     035433                 HARRIS SCHOOL OF BUSINESS
DE         31912     037023  DELAWARE LEARNING INSTITUTE OF COSMETOLO
DE         32209     041307           ACADEMY OF MASSAGE AND BODYWORK
DE         32254     041398          DELAWARE COLLEGE OF ART & DESIGN
DE         32440     041711         PAUL MITCHELL THE SCHOOL-DELAWARE
DE         32887     042503  HAIR ACADEMY SCHOOL OF BARBERING & BEAUT

                                  Address        City  ZipCode Province  \
StateCode
DE          4601 CONCORD PIKE/PO BOX 7474  WILMINGTON    19803      NaN
DE              BLUE HEN CORPORATE CENTER       DOVER    19901      NaN
DE              1200 NORTH DUPONT HIGHWAY       DOVER    19901      NaN
DE                      4701 LIMESTONE RD  WILMINGTON    19808      NaN
DE                      224 HULLIHEN HALL      NEWARK    19716      NaN
DE                     120 N STATE STREET       DOVER    19901      NaN
DE                   320 N DUPONT HIGHWAY  NEW CASTLE    19720      NaN
DE                   FINANCIAL AID OFFICE       DOVER    19901      NaN
DE                          70 AMSTEL AVE      NEWARK    19711      NaN
DE                      424 SAVANNAH ROAD       LEWES    19958      NaN
DE         3700 LANCASTER PIKE, SUITE 105  WILMINGTON    19805      NaN
DE             1413 FOULK ROAD, SUITE 100  WILMINGTON    19803      NaN
DE         33448 ROYAL BOULEVARD, SUITE A    DAGSBORO    19939      NaN
DE                   1218 PULASKI HIGHWAY        BEAR    19701      NaN
DE                600 NORTH MARKET STREET  WILMINGTON    19801      NaN
DE                   1420 PULASKI HIGHWAY      NEWARK    19702      NaN
DE              1013 SOUTH COLLEGE AVENUE      NEWARK    19713      NaN

          Country PostalCode
StateCode
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN
DE            NaN        NaN

In [9]:
tmp_df.index.value_counts()

CA    673
NY    452
TX    381
FL    367
FC    326
PA    321
OH    294
IL    268
MA    189
MI    187
MO    182
NC    175
TN    164
VA    147
GA    144
NJ    143
PR    126
IN    126
LA    118
OK    118
MN    116
WA    109
WI    104
KY    103
CO    100
AZ     97
SC     97
MD     92
CT     92
IA     90
     ...
OR     83
KS     81
WV     73
CN     69
UT     65
MS     56
NE     44
NM     40
ME     39
ID     36
NV     35
NH     35
DC     30
MT     29
SD     28
ND     28
VT     24
HI     22
RI     21
DE     17
AK     10
WY     10
MX      7
GU      3
VI      2
MP      1
FM      1
MH      1
PW      1
AS      1
Name: StateCode, dtype: int64

In [10]:
# print(tmp_df.loc['AK': 'CA']) # needs to be sorted first
#print(tmp_df.sort().head())
print(tmp_df.sort().loc['AK': 'CA'])

              ID SchoolCode                                SchoolName  \
StateCode
AK         27243     001065            UNIVERSITY OF ALASKA SOUTHEAST
AK         30109     011462            UNIVERSITY OF ALASKA ANCHORAGE
AK         27241     001061                 ALASKA PACIFIC UNIVERSITY
AK         31676     031603  AVTEC - ALASKA'S INSTITUTE OF TECHNOLOGY
AK         27242     001063            UNIVERSITY OF ALASKA FAIRBANKS
AK         31260     017377                           CHARTER COLLEGE
AK         31811     034613                         ILISAGVIK COLLEGE
AK         31180     017066                     ALASKA CAREER COLLEGE
AK         30499     014325                      ALASKA BIBLE COLLEGE
AK         32248     041386                  ALASKA CHRISTIAN COLLEGE
AL         30946     016217  PRINCE INSTITUTE OF PROFESSIONAL STUDIES
AL         27223     001030            BISHOP STATE COMMUNITY COLLEGE
AL         32533     041873                        HAIR ACADEMY (THE)
AL         31952     037833                 BLUE CLIFF CAREER COLLEGE
AL         29183     004463             SOUTH UNIVERSITY - MONTGOMERY
AL         32532     041872      NEW BEGINNING COLLEGE OF COSMETOLOGY
AL         32807     E40408  EDWARD VIA VIRGINIA COLLEGE OF OSTEOPATH
AL         30396     013857                SOUTHEASTERN BIBLE COLLEGE
AL         26316     E01434             VIRGINIA COLLEGE - MONTGOMERY
AL         32016     038943                  HUNTSVILLE BIBLE COLLEGE
AL         32893     042294         MIDFIELD INSTITUTE OF COSMETOLOGY
AL         29665     007871           GEORGE C WALLACE STATE CMTY CLG
AL         32626     042110          SALON PROFESSIONAL ACADEMY (THE)
AL         27240     001060          FAULKNER STATE COMMUNITY COLLEGE
AL         31401     030106                          VIRGINIA COLLEGE
AL         29721     008310              AUBURN UNIVERSITY-MONTGOMERY
AL         31446     030325          ALABAMA STATE CLG BARBER STYLING
AL         30735     015370             HERITAGE CHRISTIAN UNIVERSITY
AL         27239     001059            LAWSON STATE COMMUNITY COLLEGE
AL         31758     033614                            FORTIS COLLEGE
...          ...        ...                                       ...
CA         31177     017062                  MTI BUSINESS COLLEGE INC
CA         31176     017061             HYPNOSIS MOTIVATION INSTITUTE
CA         31644     031253       JOHN WESLEY INTER. BARBER & BTY CLG
CA         26418     E01827       UNITED EDUCATION INSTITUTE - ENCINO
CA         31415     030199                          CAPSTONE COLLEGE
CA         31554     030944                MARINELLO SCHOOL OF BEAUTY
CA         26478     E02024           MEDIATECH INSTITUTE - OCEANSIDE
CA         26580     G01120        AMER BAPT SEM OF THE WEST-BERKELEY
CA         26481     E02056      MARINELLO SCHOOLS OF BEAUTY - LOMITA
CA         31524     030782  CALIFORNIA INSTITUTE OF INTEGRAL STUDIES
CA         31541     030847        VENTURA ADULT\CONTINUING EDUCATION
CA         26468     E01977                     UEI COLLEGE-RIVERSIDE
CA         31544     030874                   ITT TECHNICAL INSTITUTE
CA         31629     031166       EAST SAN GABRIEL VLY REG OCCUP PROG
CA         26581     G01165             CHURCH DIV SCH OF THE PACIFIC
CA         31563     030977         CENTRAL CALIF SCH CONTINUING EDUC
CA         31511     030727            WESTWOOD COLLEGE - LOS ANGELES
CA         31508     030723                           EVEREST COLLEGE
CA         31404     030113              CALIF STATE UNIV, SAN MARCOS
CA         31600     031081                            SUMMIT COLLEGE
CA         31701     032253    AMERICAN UNIVERSITY OF HEALTH SCIENCES
CA         26482     E02057    MARINELLO SCHOOLS OF BEAUTY - EL CAJON
CA         31606     031095           DONGGUK  UNIVERSITY LOS ANGELES
CA         31614     031133                               UEI COLLEGE
CA         31616     031136       SOUTHERN CALIFORNIA INST OF TECHNOL
CA         26487     E02062      MARINELLO SCHOOL OF BEAUTY - SEASIDE
CA         31696     032103   LE CORDON BLEU COLLEGE OF CULINARY ARTS
CA         26486     E02061  MARINELLO SCHOOL OF BEAUTY - BAKERSFIELD
CA         31566     030982       YO SAN UNIV TRADITIONAL CHINESE MED
CA         26578     E40398   HUSSIAN SCHOOL OF ART-RELATIVITY CAMPUS

                                Address             City  ZipCode Province  \
StateCode
AK                11120 GLACIER HIGHWAY           JUNEAU    99801      NaN
AK                        PO BOX 141608        ANCHORAGE    99514      NaN
AK                4101 UNIVERSITY DRIVE        ANCHORAGE    99508      NaN
AK                    809 SECOND AVENUE           SEWARD    99664      NaN
AK              3RD FLOOR SIGNER'S HALL        FAIRBANKS    99775      NaN
AK          2221 E NORTHERN LIGHTS BLVD        ANCHORAGE    99508      NaN
AK                           PO BOX 749           BARROW    99723      NaN
AK                   1415 E. TUDOR ROAD        ANCHORAGE    99507      NaN
AK                 BOX 289 COLLEGE ROAD       GLENNALLEN    99588      NaN
AK                    35109 ROYAL PLACE         SOLDOTNA    99669      NaN
AL                     7735 ATLANTA HWY       MONTGOMERY    36117      NaN
AL                  351 NO BROAD STREET           MOBILE    36603      NaN
AL                    3150 MCGEHEE ROAD       MONTGOMERY    36111      NaN
AL               2970 COTTAGE HILL ROAD           MOBILE    63306      NaN
AL                     5355 VAUGHN ROAD       MONTGOMERY    36116      NaN
AL                 509 BALTIMORE AVENUE      ALBERTVILLE    35950      NaN
AL                 910 S. DONAHUE DRIVE           AUBURN    36832      NaN
AL                 2545 VALLEYDALE ROAD      BIRIMINGHAM    35244      NaN
AL                 6200 ATLANTA HIGHWAY       MONTGOMERY    36117      NaN
AL                   904 OAKWOOD AVENUE       HUNTSVILLE    35811      NaN
AL                  26 B PHILLIPS DRIVE         MIDFIELD    35228      NaN
AL                          PO BOX 2000       HANCEVILLE    35077      NaN
AL                4925 UNIVERSITY DRIVE       HUNTSVILLE    35816      NaN
AL                 1900 US HWY 31 SOUTH      BAY MINETTE    36507      NaN
AL              488 PALISADES BOULEVARD       BIRMINGHAM    35209      NaN
AL                       P O BOX 244023       MONTGOMERY    36124      NaN
AL                      9480 PARKWAY  E       BIRMINGHAM    35215      NaN
AL                          PO BOX  HCU         FLORENCE    35630      NaN
AL                3060 WILSON ROAD S.W.       BIRMINGHAM    35221      NaN
AL               200 EAST LAUREL AVENUE            FOLEY    36535      NaN
...                                 ...              ...      ...      ...
CA                    6006 N. EL DORADO         STOCKTON    95207      NaN
CA         18607 VENTURA BLVD  STE #310          TARZANA    91356      NaN
CA                      717 PINE AVENUE       LONG BEACH    90813      NaN
CA                5445 BALBOA BOULEVARD           ENCINO    91316      NaN
CA              14547 TITUS ST  STE 100         VAN NUYS    91402      NaN
CA                 5522 GARFIELD AVENUE       SACRAMENTO    95841      NaN
CA              302 OCEANSIDE BOULEVARD        OCEANSIDE    92054      NaN
CA                      2606 DWIGHT WAY         BERKELEY    94704      NaN
CA                2418 LOMITA BOULEVARD           LOMITA    90717      NaN
CA                  455 ARKANSAS STREET    SAN FRANCISCO    94107      NaN
CA                  5200 VALENTINE ROAD          VENTURA    93003      NaN
CA              1860 UNIVERSITY  AVENUE        RIVERSIDE    92507      NaN
CA           20050 SOUTH VERMONT AVENUE         TORRANCE    90502      NaN
CA                 1501 W DEL NORTE AVE      WEST COVINA    91790      NaN
CA                        2451 RIDGE RD         BERKELEY    94709      NaN
CA                     3195 MCMILLAN #F  SAN LUIS OBISPO    93401      NaN
CA              3250 WILSHIRE BOULEVARD      LOS ANGELES    90010      NaN
CA                 1460 S. MILLIKEN AVE          ONTARIO    91761      NaN
CA          333 S TWIN OAKS VALLEY ROAD       SAN MARCOS    92096      NaN
CA               851 SOUTH COOLEY DRIVE           COLTON    92324      NaN
CA         1600 E. HILL STREET, BLDG. 1      SIGNAL HILL    90755      NaN
CA                    841 ARNELE AVENUE         EL CAJON    92020      NaN
CA               440 SOUTH SHATTO PLACE      LOS ANGELES    90020      NaN
CA             1901 EAST SHIELDS AVENUE           FRESNO    93726      NaN
CA           222 SOUTH HARBOR BOULEVARD          ANAHEIM    92805      NaN
CA               1760 FREMONT BOULEVARD          SEASIDE    93955      NaN
CA                521 EAST GREEN STREET         PASADENA    91101      NaN
CA                     3737 MING AVENUE      BAKERSFIELD    93309      NaN
CA           13315 WASHINGTON BOULEVARD      LOS ANGELES    90066      NaN
CA                   1201 W. 5TH STREET      LOS ANGELES    90017      NaN

          Country PostalCode
StateCode
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AK            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
AL            NaN        NaN
...           ...        ...
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN
CA            NaN        NaN

[950 rows x 9 columns]

/home/jack/anaconda3/envs/tf_edge/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  This is separate from the ipykernel package so we can avoid doing imports until

### Multiple index not next to each other

In [11]:
print(tmp_df.loc[['PW', 'FM']])

              ID SchoolCode                   SchoolName  \
StateCode
PW         30080     011009      PALAU COMMUNITY COLLEGE
FM         29990     010343  COLLEGE OF MICRONESIA - FSM

                                  Address                     City  ZipCode  \
StateCode
PW         POST OFFICE BOX 9  KOROR PALAU  WESTERN CAROLINA ISLAND    96940
FM                            159 KOLONIA         KOLONIA, POHNPEI    96941

          Province Country PostalCode
StateCode
PW             NaN     NaN        NaN
FM             NaN     NaN        NaN

In [12]:
# if not included, it will be 'created'
print(tmp_df.loc[['PW', 'FM', 'ZZ']])

                ID SchoolCode                   SchoolName  \
StateCode
PW         30080.0     011009      PALAU COMMUNITY COLLEGE
FM         29990.0     010343  COLLEGE OF MICRONESIA - FSM
ZZ             NaN        NaN                          NaN

                                  Address                     City  ZipCode  \
StateCode
PW         POST OFFICE BOX 9  KOROR PALAU  WESTERN CAROLINA ISLAND  96940.0
FM                            159 KOLONIA         KOLONIA, POHNPEI  96941.0
ZZ                                    NaN                      NaN      NaN

          Province Country PostalCode
StateCode
PW             NaN     NaN        NaN
FM             NaN     NaN        NaN
ZZ             NaN     NaN        NaN

In [13]:
# can check for inclusion
print("ZZ" in tmp_df.index)

False

## Second Argument

In [14]:
# will return the specified columns
print(tmp_df.loc['PW', ["ID", "SchoolCode"]])

ID             30080
SchoolCode    011009
Name: PW, dtype: object