In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# .CSV data
la_csv_path = fetch_data_from_URL("https://data.lacity.org/api/views/nxs9-385f/rows.csv?accessType=DOWNLOAD",
                    "2010.csv", sub_dir="la_cencus")

In [4]:
# read entire file into a dataframe
df = pd.read_csv(la_csv_path)

# summmary of dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
Zip Code                  319 non-null int64
Total Population          319 non-null int64
Median Age                319 non-null float64
Total Males               319 non-null int64
Total Females             319 non-null int64
Total Households          319 non-null int64
Average Household Size    319 non-null float64
dtypes: float64(2), int64(5)
memory usage: 17.5 KB
None

## where

In [5]:
df.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

In [6]:
def convert_to_thousands(num):
    return str(num/1000) + "x10^3"

In [7]:
cols = ["Total Population", "Total Males", "Total Females", "Total Households"]
for col in cols:
    df[col] = df[col].apply(convert_to_thousands)

In [8]:
df.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,0.001x10^3,73.5,0.0x10^3,0.001x10^3,0.001x10^3,1.00
1,90001,57.11x10^3,26.6,28.468x10^3,28.642x10^3,12.971x10^3,4.40
2,90002,51.223x10^3,25.5,24.876x10^3,26.347x10^3,11.731x10^3,4.36
3,90003,66.266x10^3,26.3,32.631x10^3,33.635x10^3,15.642x10^3,4.22
4,90004,62.18x10^3,34.8,31.302x10^3,30.878x10^3,22.547x10^3,2.73

In [9]:
# read entire file into a dataframe
df = pd.read_csv(la_csv_path)

# summmary of dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
Zip Code                  319 non-null int64
Total Population          319 non-null int64
Median Age                319 non-null float64
Total Males               319 non-null int64
Total Females             319 non-null int64
Total Households          319 non-null int64
Average Household Size    319 non-null float64
dtypes: float64(2), int64(5)
memory usage: 17.5 KB
None

In [10]:
def age_gender(row):
    # data will be passed as row,
    # row[0] == df["Zip Code"] .. row[4] == df["Total Females"] ..
    
    # some logic.
    male = row[3]
    female = row[4]
    age = row[2]
    result_str = "avg age: " + str(age)
    
    if male > female:
        result_str += " more males"
    elif female > male:
        result_str += " more females"
    else:
        result_str += " equal m/f"
        
    return result_str

In [11]:
df.apply(age_gender, axis="columns").head()

0    avg age: 73.5 more females
1    avg age: 26.6 more females
2    avg age: 25.5 more females
3    avg age: 26.3 more females
4      avg age: 34.8 more males
dtype: object