In [2]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [3]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [21]:
# working with excel: `conda install -c anaconda xlrd`
fsa_xlsx_path = fetch_data_from_URL("https://ifap.ed.gov/fedschcodelist/attachments/1617FedSchoolCodeList.xlsx",
                    "1617FedSchoolCodeList.xlsx", sub_dir="FSA")

In [22]:
s_df = pd.read_excel(fsa_xlsx_path)
print(s_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6962 entries, 0 to 6961
Data columns (total 10 columns):
ID            6962 non-null int64
SchoolCode    6962 non-null object
SchoolName    6962 non-null object
Address       6962 non-null object
City          6962 non-null object
StateCode     6962 non-null object
ZipCode       6962 non-null int64
Province      111 non-null object
Country       402 non-null object
PostalCode    229 non-null object
dtypes: int64(2), object(8)
memory usage: 544.0+ KB
None

In [11]:
print(s_df.head())

      ID SchoolCode                             SchoolName  \
0  25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
1  25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
2  25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
3  25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
4  25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                         Address        City StateCode  ZipCode Province  \
0  4601 CONCORD PIKE/PO BOX 7474  WILMINGTON        DE    19803      NaN
1                     BOX S-4467    SAN JUAN        PR      902      NaN
2                    PO BOX 3330   CLEVELAND        TN    37320      NaN
3         325 NORTH WELLS STREET     CHICAGO        IL    60610      NaN
4                  049 SW PORTER    PORTLAND        OR    97201      NaN

  Country PostalCode
0     NaN        NaN
1     NaN        NaN
2     NaN        NaN
3     NaN        NaN
4     NaN        NaN

In [16]:
# fillna will fill (all) NaNs with the specified value
print(s_df.fillna(0).head())

      ID SchoolCode                             SchoolName  \
0  25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
1  25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
2  25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
3  25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
4  25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                         Address        City StateCode  ZipCode Province  \
0  4601 CONCORD PIKE/PO BOX 7474  WILMINGTON        DE    19803        0
1                     BOX S-4467    SAN JUAN        PR      902        0
2                    PO BOX 3330   CLEVELAND        TN    37320        0
3         325 NORTH WELLS STREET     CHICAGO        IL    60610        0
4                  049 SW PORTER    PORTLAND        OR    97201        0

  Country PostalCode
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0

In [23]:
# Notice that even though we're working the series,
# the series is still linked to the DF (in this case)
# and so the df is also updated
s_df['Country'].fillna("NA", inplace=True)
print(s_df.head())

      ID SchoolCode                             SchoolName  \
0  25969     B04724        WIDENER UNIV SCHOOL OF LAW - DE
1  25970     B06171    CENTER FOR ADVANCED STUDIES OF PUER
2  25971     B06511       PENTECOSTAL THEOLOGICAL SEMINARY
3  25972     B07022  THE CHICAGO SCHOOL OF PROF PSYCHOLOGY
4  25973     B07624   NATIONAL COLLEGE OF NATURAL MEDICINE

                         Address        City StateCode  ZipCode Province  \
0  4601 CONCORD PIKE/PO BOX 7474  WILMINGTON        DE    19803      NaN
1                     BOX S-4467    SAN JUAN        PR      902      NaN
2                    PO BOX 3330   CLEVELAND        TN    37320      NaN
3         325 NORTH WELLS STREET     CHICAGO        IL    60610      NaN
4                  049 SW PORTER    PORTLAND        OR    97201      NaN

  Country PostalCode
0      NA        NaN
1      NA        NaN
2      NA        NaN
3      NA        NaN
4      NA        NaN

In [26]:
print(s_df['Country'].value_counts().head())

NA           6560
ENGLAND       189
CANADA         69
AUSTRALIA      19
SCOTLAND       16
Name: Country, dtype: int64