In [1]:
import pandas as pd
import os

## Obtain different dataset data.gov

https://catalog.data.gov/dataset

In [2]:
from six.moves import urllib

# where the datasets will be placed
ROOT_DATA = "../../../ROOT_DATA/data_gov/"

def fetch_data_from_URL(housing_url, file_name, sub_dir="tmp", root_path=ROOT_DATA):
    placement_dir = os.path.join(root_path, sub_dir)
    if not os.path.isdir(placement_dir):
        os.makedirs(placement_dir)
    placement_path = os.path.join(placement_dir, file_name)
    # only download if not already present
    if not os.path.isfile(placement_path):
        urllib.request.urlretrieve(housing_url, placement_path)
    return placement_path

In [3]:
# .CSV data
traffic_csv_path = fetch_data_from_URL("https://data.montgomerycountymd.gov/api/views/4mse-ku6q/rows.csv?accessType=DOWNLOAD",
                    "traffic_violations.csv", sub_dir="traffic")

In [28]:
# read entire file into a dataframe
t_df = pd.read_csv(traffic_csv_path)
print(t_df.info())

/home/jack/anaconda3/envs/tf_edge/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251972 entries, 0 to 1251971
Data columns (total 35 columns):
Date Of Stop               1251972 non-null object
Time Of Stop               1251972 non-null object
Agency                     1251972 non-null object
SubAgency                  1251962 non-null object
Description                1251963 non-null object
Location                   1251970 non-null object
Latitude                   1158178 non-null float64
Longitude                  1158178 non-null float64
Accident                   1251972 non-null object
Belts                      1251972 non-null object
Personal Injury            1251972 non-null object
Property Damage            1251972 non-null object
Fatal                      1251972 non-null object
Commercial License         1251972 non-null object
HAZMAT                     1251972 non-null object
Commercial Vehicle         1251972 non-null object
Alcohol                    1251972 non-null object
Work Zone                  1251972 non-null object
State                      1251913 non-null object
VehicleType                1251972 non-null object
Year                       1244022 non-null float64
Make                       1251915 non-null object
Model                      1251786 non-null object
Color                      1236136 non-null object
Violation Type             1251972 non-null object
Charge                     1251972 non-null object
Article                    1188862 non-null object
Contributed To Accident    1251972 non-null object
Race                       1251972 non-null object
Gender                     1251972 non-null object
Driver City                1251768 non-null object
Driver State               1251961 non-null object
DL State                   1251043 non-null object
Arrest Type                1251972 non-null object
Geolocation                1158178 non-null object
dtypes: float64(3), object(32)
memory usage: 334.3+ MB
None

In [10]:
# read column into a dataframe
t_ds = pd.read_csv(traffic_csv_path, usecols=['Accident'])
print(type(t_ds))

<class 'pandas.core.frame.DataFrame'>

In [11]:
# read column into a series
# by using the squeeze=True, we can read the column into a series
t_ds = pd.read_csv(traffic_csv_path, usecols=['Accident'], squeeze=True)
print(type(t_ds))

<class 'pandas.core.series.Series'>

## Head and tail
`head()` and `tail()` return the first, or last, values from a series **as an entirely new series**

In [12]:
# this returns the first n rows of a series (default is 5)
print(t_ds.head())
#t_ds.head(42) # will return the first 42 values

0    No
1    No
2    No
3    No
4    No
Name: Accident, dtype: object

In [13]:
print(t_ds.tail())

1251967    No
1251968    No
1251969    No
1251970    No
1251971    No
Name: Accident, dtype: object

## Values, Index, Type

In [23]:
print(t_ds.values)
print(t_ds.index)
print(t_ds.dtype)
print(t_ds.ndim)  # number of columns
print(t_ds.shape) # rows x columns
print(t_ds.size)  # number of elements (will cound null elements)
print(t_ds.name)

['No' 'No' 'No' ..., 'No' 'No' 'No']
RangeIndex(start=0, stop=1251972, step=1)
object
1
(1251972,)
1251972
Accident

### Obtain series from df

In [29]:
d_ds = t_df['Description']
print(type(d_ds))

<class 'pandas.core.series.Series'>

In [30]:
print(d_ds.head())

0    DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...
1    DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC...
2                   FAILURE STOP AND YIELD AT THRU HWY
3                 FAILURE YIELD RIGHT OF WAY ON U TURN
4    FAILURE OF DR. TO MAKE LANE CHANGE TO AVAIL. L...
Name: Description, dtype: object